@charset "utf-8";

body{
  font-family: 'Noto Sans JP', sans-serif;
}

.sp{
  display: none;
}

@media screen and (max-width:576px){
  .sp {
  display: block;
  }
  .pc{
    display: none;
  }
}

header{
  background: url(../img/header-background2.png) no-repeat top right  ;
  background-size: cover;
  height:100vh;
  width:auto;
}

.header-contents{
  height:100vh;
  width:30vw;
  background-color: #0466A4;
}

h1{
  color:#FFFF1A;
  font-size:2.6vw;
  text-align: center;
  font-weight: bold;
  padding-top: 111px;
  padding-bottom: 106px;
}

header h2{
  color:#B60014;
  font-weight: bold;
  font-size: 2.1vw;
  padding-top: 22px;
}

.header-contents_1{
  border:solid 3px #FFFFFF;
  background:#FFFFFF;
  width:25vw;
  height:auto;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.header-contents_1 p{
  font-size: 1.5vw;
  padding-top: 10px;
  padding-bottom:10px;
}

.header-contents_2{
  border-bottom: solid 3px #000000;
  width:22vw;
  margin: 0 auto;
}

.header-contents_3{
  color:#FFFFFF;
  font-weight: bold;
  text-align: center;
  font-size: 1.4vw;
}

.header-contents_4{
  font-size:3vw;
}

@media screen and (max-width:768px){

  header{
    background: url("");
    background-size:"";
    background-color: #0466A4;
  }
}

  @media screen and (max-width:576px){

  .header-contents{
    width:100vw;
    margin:  0 auto;
  }

  h1{
    color:#FFFF1A;
    font-size:8vw;
    text-align: center;
    font-weight: bold;
  }

  .header h2{
    color:#B60014;
    font-weight: bold;
    font-size: 7vw;
    padding-top: 22px;
  }

  .header-contents_1{
    border:solid 3px #FFFFFF;
    background:#FFFFFF;
    width:80vw;
    height:auto;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  .header-contents_1 p{
    font-weight: bold;
    font-size: 5vw;
    padding-top: 10px;
  }

  .header-contents_2{
    border-bottom: solid 3px #000000;
    width:70vw;
    margin: 0 auto;
  }

  .header-contents_3{
    color:#FFFFFF;
    font-weight: bold;
    text-align: center;
    font-size: 6vw;
  }

  .header-contents_4{
    font-size:9vw;
  }
}

/* problem */

.problem{
  background-color: #EBE9E3;
}

.problem h2{
  font-weight: bold;
  text-align: center;
  font-size: 2vw;
  padding-top: 104px;
  padding-bottom: 64px;
}

.problem-container{
  padding-bottom: 65px;
}

.row-problem{
  display: flex;
  justify-content: center;
}

.problem-contents_1{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 28px;
}

.problem-contents_2{
  border:solid 3px #0466A4;
  background-color: #0466A4;
  width: 70vw;
  height:auto;
  margin: 0 auto;
}

.problem-contents_2 p{
  color: #FFFFFF;
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  padding-bottom: 34px;
  padding-top: 34px;
}

@media screen and (max-width:576px){

  .problem-container{
    padding-bottom: 0px;
  }

  .problem h2{
    font-weight: bold;
    text-align: center;
    font-size: 7vw;
    padding-top: 104px;
    padding-bottom: 64px;
  }

  .row-problem{
    display: flex;
    flex-direction: column;
  }

  .problem-contents_2{
  border:solid 3px #0466A4;
  background-color: #0466A4;
  width: 100vw;
  height:auto;
  margin: 0 auto;
  }

  .problem-contents_2 p{
    color: #FFFFFF;
    text-align: center;
    font-size: 2.8vw;
    font-weight: bold;
    padding-bottom: 34px;
    padding-top: 34px;
  }
}

/* point */

.point{
  background: url(../img/point-backimage.png) no-repeat center;
  background-size: cover;
}

.point-container h2{
  text-align: center;
  font-size: 2vw;
  font-weight: bold;
  padding-top: 39px;
  padding-bottom: 29px;
}

.point-contents_1{
  border:solid 3px #FFFFFF;
  background-color: #FFFFFF;
  width: 30vw;
  height:auto;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 18px;
}

.point-contents_1 h3{
  font-size: 1.5vw;
  padding-top: 8px;
  padding-bottom: 10px;
}

.point-contents_1 p{
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.point-box{
  display: flex;
  justify-content: center;
  width: 70vw;
  margin: 0 auto;
  padding-bottom: 50px;
}

.point-contents_2{
  border:solid 3px #FFFFFF;
  background-color: #FFFFFF;
  width: 30vw;
  height:auto;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.point-contents_2 h3{
  font-size: 1.5vw;
  padding-top: 8px;
  padding-bottom: 10px;
}

.point-contents_2 p{
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.point-contents_3{
  border:solid 3px #FFFFFF;
  background-color: #FFFFFF;
  width: 30vw;
  height:auto;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.point-contents_3 h3{
  font-size: 1.5vw;
  padding-top: 8px;
  padding-bottom: 10px;
}

.point-contents_3 p{
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

@media screen and (max-width:576px){

  .point-container{
    background: url("") ;
  }

  .point-container h2{
    text-align: center;
    font-size: 8vw;
    font-weight: bold;
    padding-top: 34px;
    padding-bottom: 20px;
  }

  .point-contents_1{
    border:solid 3px #FFFFFF;
    background-color: #FFFFFF;
    width: 80vw;
    height:auto;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 18px;
  }

  .point-contents_1 h3{
    font-size: 4.5vw;
    padding-top: 8px;
    padding-bottom: 10px;
  }

  .point-contents_1 p{
    text-align: left;
  }

  .point-box{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
  }

  .point-contents_2{
    border:solid 3px #FFFFFF;
    background-color: #FFFFFF;
    width: 80vw;
    height:auto;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    order:1;
    margin-bottom:20px;
    margin-left:10px;
  }

  .point-contents_2 h3{
    font-size: 4.5vw;
    padding-top: 8px;
    padding-bottom: 10px;
  }

  .point-contents_2 p{
    text-align: left;
  }

  .point-contents_3{
    border:solid 3px #FFFFFF;
    background-color: #FFFFFF;
    width: 80vw;
    height:auto;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
    order:2;
    margin-right:10px;
  }

  .point-contents_3 h3{
    font-size: 4.5vw;
    padding-top: 8px;
    padding-bottom: 10px;
  }

  .point-contents_3 p{
    text-align: left;
  }
}

/* review */

.review{
  background-color: #0466A4;
  padding-bottom: 64px;
}

.review h2{
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  padding-top: 39px;
  padding-bottom: 29px;
}

.review-contents{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

@media screen and (max-width:576px){

.review-container{
  background-color: #0466A4;
  padding-bottom: 0px;
}
  .review h2{
    font-size: 3.2vw;
  }

  .review-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sp{
    padding-bottom: 10px;
  }
}

/* teacher */

.teacher{
  background: url(../img/teacher-background.png) no-repeat center;
  background-size: cover;
  text-align: center;
}

.teacher h2{
  font-weight: bold;
  font-size: 2vw;
  padding-top: 39px;
  padding-bottom:29px;
}

.teacher p{
  font-size: 1vw;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (max-width:576px){

  .teacher{
  background: url("");
  text-align: center;
  }

  .teacher h2{
    font-weight: bold;
    font-size: 6vw;
    padding-top: 20px;
  }

  .teacher p{
    font-size: 2.4vw;
  }
}

/* qa */

.qa-container{
  text-align: center;
}

.qa h2{
  font-size: 2vw;
  font-weight: bold;
  padding-bottom: 29px;
  padding-top: 39px;
}

.qa-contents{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width:48vw;
  text-align: left;
}

.qa-contents_1_1{
  display: flex;
}

.qa-contents img{
  width:42px;
  height:45px;
  margin-right:20px;
}

.qa-contents_1_1 p{
  margin-left: 1vw;
}

.qa-contents_1_2{
  display: flex;
  margin-top: 20px;
}

.qa-contents_1_2 p{
  margin-left: 1vw;
}

.qa-contents_2_1{
  display: flex;
  margin-top: 30px;
}

.qa-contents_2_1 p{
  margin-left: 1vw;
}

.qa-contents_2_2{
  display: flex;
  margin-top: 20px;
}

.qa-contents_2_2 p{
  margin-left: 1vw;
}

.qa-contents_3_1{
  display: flex;
  margin-top: 30px;
}

.qa-contents_3_1 p{
  margin-left: 1vw;
}

.qa-contents_3_2{
  display: flex;
  margin-top: 20px;
}

.qa-contents_3_2 p{
  margin-left: 1vw;
}

.qa-contents_4_1{
  display: flex;
  margin-top: 30px;
}

.qa-contents_4_1 p{
  margin-left: 1vw;
}

.qa-contents_4_2{
  display: flex;
  margin-top: 20px;
}

.qa-contents_4_2 p{
  margin-left: 1vw;
}

.qa-contents_5_1{
  display: flex;
  margin-top: 30px;
}

.qa-contents_5_1 p{
  margin-left: 1vw;
}

.qa-contents_5_2{
  display: flex;
  margin-top: 20px;
}

.qa-contents_5_2 p{
  margin-left: 1vw;
}

@media screen and (max-width:576px){

  .qa h2{
    font-size: 6vw;
    padding-bottom: 24px;
  }
}

/* footer */

footer{
  margin-bottom:20px;
}

footer h2{
  text-align: center;
  font-size:2vw;
  font-weight: bold;
  margin-top: 39px;
  margin-bottom: 47px;
}

.footer-contents_1{
  border:solid 3px #0466A4;
  background-color: #0466A4;
  width: 60vw;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
}

.footer-contents_1 h3{
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.footer-contents_2{
  display: flex;
  border:solid 1px ;
  width: 60vw;
  margin:  0 auto;
  margin-top:10px;
  margin-bottom:20px;
}

.footer-contents_2_1{
  flex-basis: 50%;
}

.footer-contents_3{
  display: flex;
  padding-left: 30px;
}

.footer-contents_3_1{
  padding-top: 20px;
  line-height: 20px;
  font-size:0.8vw;
}

.footer-contents_4{
  color: #0B41A0;
  font-size: 2.6vw;
  font-weight: bold;
  padding-left: 30px;
}

.footer-contents_5{
  display: flex;
  /* padding-top: 5px; */
  padding-left: 30px;
  padding-bottom:30px;
}

.footer-contents_6{
  border:solid 1px ;
  width:8vw;
  height:4vh;
}

.footer-contents_7{
  text-align: center;
  padding-top: 5px;
  font-size:1vw;
}

.footer-contents_8{
  font-size: 1.2vw;
  padding-left: 20px;
}

.footer-contents_9{
  border:solid 3px #990000;
  background-color: #990000;
  width: 20vw;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  flex-basis: 50%;
  margin:30px 30px;
}

.footer-contents_9 img{
  width: 45px;
  height: 45px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.footer-contents_9 p{
  color: #FFFFFF;
  font-size: 1.5vw;
  font-weight: bold;
}

@media screen and (max-width:576px){

  footer h2{
    font-size:2vw;
    margin-bottom: 27px;
  }

  .footer-contents_1{
    width: 70vw;
  }
  .footer-contents_2{
    border:solid 0px ;
    width: 55vw;
    margin: "";
    margin-top:10px;
  }

  .footer-contents_3{
    display: flex;
    padding-left: 0px;
  }

  .footer-contents_3_1{
    padding-top: 5px;
    font-size: 1vw;
  }

  .footer-contents_4{
    color: #0B41A0;
    font-size: 5vw;
    padding-left: 10px;
    padding-right:10px;
  }

  .footer-contents_5{
    display: flex;
    padding-top: 5px;
    padding-left: 0px;
  }

  .footer-contents_6{
    border:solid 1px ;
    width:25vw;
    height:4vh;
  }

  .footer-contents_7{
    text-align: center;
    padding-top: 3px;
  }

  .footer-contents_8{
    font-size: 1vw;
    padding-left: 12px;
  }

  .footer-contents_9{
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    padding-left:5px;
  }

  .footer-contents_9 p{
    font-size: 4vw;
    padding-right:10px;
  }
}









